# Configuración de Base de Datos PostgreSQL
POSTGRES_DB=techmind
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Configuración de la Aplicación
PORT=8080
JWT_SECRET=techmind_jwt_secret_key_for_development_and_testing_123456789

# Servicio de Machine Learning
ML_SERVICE_URL=http://79.72.50.78:8000
